{
    "webhook_url": "",
    "cron_string": "*/30 * * * *",
    "initial": false,
    "message": "@everyone 🚨 Νέα ανακοίνωση απο το τμήμα ψηφιακών συστημάτων! 🚨",
    "footer": "Παρέχεται με ❤️ απο τον Γκέκα Δημήτριο"
}